*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore node_modules folder
node_modules/

# Ignore Google Service JSON files
*.json

# Ignore environment variables
.env

# macOS files
.DS_Store

# Android Studio/IntelliJ related files
.idea/
*.iml

